
#main{
    display: grid;
    grid-template-columns: 70% 29%;
    padding: 1%;
    gap: 1%;
}


#main-left {
    display: grid;
    grid-template-columns:5% 78% 15%;
    grid-template-rows: 12% 69% 16%;
    padding: 1%;
    gap: 1% 1%;
    grid-area: 1/1/1/1;
}


#main-right {
    display: grid;
    grid-template-columns:100%;
    grid-template-rows: 8% 85% 4%;
    padding: 1%;
    gap: 1%;
    grid-column: 2;
}


#main-profile-pic {
    display: grid;
    grid-template-columns:99%;
    grid-template-rows: 98%;
    grid-area: 1/1/1/1;
}



.header{
    grid-column: 1/4;
}


.navi{
    grid-area: 2/1/2/2;
}

.footer{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 60% 30%;
    grid-area: 3/1/4/4;
}

.nav{
    display: grid;
    grid-template-columns:60% 11% 11% 11%;
    grid-template-rows: 100%;
}

.skills-right{
    display: grid;
}