
#main{
    display: grid;
    grid-template-columns: 70% 29%;
    height: 100%;
    width: 100%;
    background-color: burlywood;
    padding: 1%;
    gap: 1%;
}


#main-left {
    display: grid;
    height: 90vh;
    width: 100%;
    grid-template-columns:10% 78% 10%;
    grid-template-rows: 12% 69% 16%;
    padding: 1%;
    gap: 1% 1%;
    background-color:rgb(156, 210, 20) ;
    border-radius: 5px;
    text-align: center;
    grid-area: 1/1/1/1;
}


#main-right {
    display: grid;
    height: 90vh;
    width: 100%;
    grid-template-columns:100%;
    grid-template-rows: 8% 85% 4%;
    padding: 1%;
    gap: 1%;
    background-image: url("../image/background.jpg");
    border-radius: 5px;
    text-align: center;
    grid-column: 2;
    background-repeat: no-repeat;
    background-size: cover;
}


#main-profile-pic {
    display: grid;
    height: 48%;
    width: 35%;
    grid-template-columns:99%;
    grid-template-rows: 98%;
    background-color:rgb(43, 76, 174) ;
    border-radius: 5px;
    grid-area: 1/1/1/1;
    margin-left: 90%;
    margin-top: 15%;
    border-radius: 50%;
    border: 10px;
    border-color: rgb(223, 227, 214);
    border-style:inset;
    background-image: url("../image/umesh.jpg");
    background-position: center;
    background-size: cover;
    position: relative;

}



.header{
    grid-column: 1/4;
}


.navi{
    grid-area: 2/1/2/2;
    width: 100%;
    background-color: blanchedalmond;
}


.section{
    background-color: yellow;
    grid-area: 2/2/3/3;
}


.article{

}


.footer{
    display: grid;
    grid-template-columns:100%;
    grid-template-rows: 60% 30%;
    width: 100%;
    grid-area: 3/1/4/4;
    color:antiquewhite;
    background-color: blue;
    height: 100%;
    justify-content: center;
    border-radius: 5px;
}



.nav{
    display: grid;
    grid-template-columns:60% 11% 11% 11%;
    grid-template-rows: 100%;
    align-items: center;
    color: white;
    gap: 1%;
    color: aliceblue;
}
.skills-right{
    display: grid;
    padding-top: 15%;
    text-align: end;
    padding-right: 10%;
    color: white;
}